* {
  color: white;
}

.card_main_heading1 {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.img_contenar {
  width: 350px;
  height: 300px;
}

.card_About {
  width: 262px;
  margin-left: 50px;
}

.card_bag {
  width: 45px;
  height: 45px;
  margin-top: -14px;
}

.card_bag:hover {
  background-color: #c2cebb;
}

.card_pc {
  display: flex;
  justify-content: space-between;
}

.card_All {
  background-color: rgba(255, 255, 255, 0.05);
  border: 2px, solid, white;
  border-radius: 49px;
  width: 380px;
  height: 450px;
  margin: 10px;
  margin-top: 62px;
}

.cardItem {
  margin-top: -80px;
  color: brown;
}

.card_price {
  font-size: 22px;
}

.card_main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card_heading {
  text-align: center;
  margin-bottom: 10px;
}

.Card_about {
  height: 6rem;
}

@media (max-width: 640px) {
  .card_main_heading1 {
    font-size: 25px;
  }
  .img_contenar {
    width: 150px;
    height: 150px;
  }

  .cardItem p {
    font-size: 14px;
  }

  .card_All {
    width: 160px;
    height: 310px;
  }

  .card_heading {
    font-size: 20px;
    margin-left: -51px;
  }

  .cardItem p {
    width: 136px;
    height: 120px;
    margin-left: -34px;
  }

  .card_pc {
    width: 100px;
  }

  .cardItem {
    display: flex;
    flex-wrap: wrap;
  }

  .card_bag {
    margin-top: -12px;
  }

  .img_contenar {
    margin-left: 7px;
  }

  .card_pc {
    margin-top: 15px;
  }
}
