.item_main_contenar {
  background-color: #1b2316;
  width: 50%;
  float: right;
  margin-bottom: 18rem;
}
.item_button {
  width: 10rem;
  height: 2rem;
  color: black;
}

.price_contenar {
  display: flex;
  margin-top: 2rem;
}

.price_fixed {
  display: flex;
  flex-direction: column;
}

.price_update {
  display: flex;
  flex-direction: column;
  margin-left: 4rem;
}

@media (max-width: 640px) {
  .item_main_contenar {
    width: 100%;
  }

  .item_price_heading {
    text-align: center;
    margin-top: 3rem;
  }

  .price_contenar {
    display: flex;
    justify-content: center;
  }

  .order_place_button{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
}
